# Django
SECRET_KEY=change-me-in-production
DEBUG=True

# PostgreSQL
DB_NAME=neorx
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0